.public-container{
  position: relative;
  margin: 0 auto;
  background: transparent;
  height: 100%;
  width: 1100px;
}

.public-header{
  height: 110px;
  background: #ffffff;
}

.public-header .header-logo{
  float: left;
  margin-top: 40px;
}
.public-header .header-logo a{
  width: 182px;
  height: 54px;
  background: url("../img/index-header-logo.png");
  height: 54px;
}


.public-header .header-nav{
  float: right;
}
.public-header .header-nav .item{
  display: inline-block;
  margin-left: 50px;
  line-height: 110px;
}

.public-header .header-nav .item a{
  color: #3b3b3b;
}
.public-header .header-nav .item a:hover{
  text-decoration: underline;
}
.index-banner{
  position: relative;
  background: #b3b3b3;
}

.index-banner-bg{
  height: 570px;
  overflow: hidden;
}

.index-banner-bg img{
  margin: 0 auto;
}
.index-banner-text{
  position: absolute;
  top: 220px;
  left: 50%;
  margin-left: -388px;;
}

.index-banner-text .text-logo{
  width: 776px;
  height: 118px;
  background: url("../img/index-banner-text-logo.png") no-repeat;
}
.index-banner-text .text-info{
  margin-top: 17px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.index-banner-text .text-info .line{
  display: inline-block;
  width: 40px;
  border-top: 1px solid #fff;
  vertical-align: middle;
}

.index-banner-text .text-info .line-l{
  margin-right: 26px;
}
.index-banner-text .text-info .line-r{
  margin-left: 26px;
}

/*菜单*/
.index-menu{
  position: relative;
  height: 700px;
  background: #ffffff;
  border-top: 4px solid #f34949;
}

.index-menu .menu-tips{
  position: absolute;
  left: 50%;
  top:0;
  margin-left: -78px;
  width: 156px;
  height: 75px;
  text-align: center;
  line-height: 65px;
  color: #fff;
  font-size: 20px;
  background: #f34949
}
/*倒三角*/
.index-menu .menu-tips:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 78px solid transparent;
  border-right: 78px solid transparent;
  border-bottom: 10px solid #fff;
}

.index-menu .list{
  margin-top: 253px;
  width: 100%;
  line-height: 0;

}
.index-menu li{
  float: left;
  display: inline-block;
  width: 550px;
  height: 97px;
  background: #500909;
}

.index-panel.index01{
  height: 663px;
  background: #ffffff;
}

.index-panel.index02{
  height: 728px;
  background: #ffffff;
}

.public-footer{
  height: 217px;
  background: #3b3b3b;
  padding-top: 100px;
}

.public-footer .col{
  width: 230px;
  float: left;
  margin-right: 60px;
  font-size: 16px;
  color: #fff;
  line-height: 1.8;
}
.public-footer .col:last-child{
  margin-right: 0;
}
.public-footer .footer-logo{
  width: 182px;
  margin-top: -16px;
  height: 53px;
  margin-bottom: 12px;
  background: url("../img/index-footer-logo.png");
}
